body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2401x1600/4a8dbfc0c7e0db211e06a6bd56b6a85a/photo-1606054512716-fb198b6686c9.jpg");
}

